@font-face {
	font-family: 'Karla';
	src: url('Karla/Karla-Regular.eot');
	src: url('Karla/Karla-Regular.eot') format('embedded-opentype'), url('Karla/Karla-Regular.ttf') format('truetype'), url('Karla/Karla-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Karla';
	src: url('Karla/Karla-Italic.eot');
	src: url('Karla/Karla-Italic.eot') format('embedded-opentype'), url('Karla/Karla-Italic.ttf') format('truetype'), url('Karla/Karla-Italic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Karla';
	src: url('Karla/Karla-Bold.eot');
	src: url('Karla/Karla-Bold.eot') format('embedded-opentype'), url('Karla/Karla-Bold.ttf') format('truetype'), url('Karla/Karla-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Karla';
	src: url('Karla/Karla-BoldItalic.eot');
	src: url('Karla/Karla-BoldItalic.eot') format('embedded-opentype'), url('Karla/Karla-BoldItalic.ttf') format('truetype'), url('Karla/Karla-BoldItalic.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'KoHo';
	src: url('KoHo/KoHo-ExtraLight.eot');
	src: url('KoHo/KoHo-ExtraLight.eot') format('embedded-opentype'), url('KoHo/KoHo-ExtraLight.ttf') format('truetype'), url('KoHo/KoHo-ExtraLight.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'KoHo';
	src: url('KoHo/KoHo-ExtraLightItalic.eot');
	src: url('KoHo/KoHo-ExtraLightItalic.eot') format('embedded-opentype'), url('KoHo/KoHo-ExtraLightItalic.ttf') format('truetype'), url('KoHo/KoHo-ExtraLightItalic.svg') format('svg');
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'KoHo';
	src: url('KoHo/KoHo-Light.eot');
	src: url('KoHo/KoHo-Light.eot') format('embedded-opentype'), url('KoHo/KoHo-Light.ttf') format('truetype'), url('KoHo/KoHo-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'KoHo';
	src: url('KoHo/KoHo-LightItalic.eot');
	src: url('KoHo/KoHo-LightItalic.eot') format('embedded-opentype'), url('KoHo/KoHo-LightItalic.ttf') format('truetype'), url('KoHo/KoHo-LightItalic.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'KoHo';
	src: url('KoHo/KoHo-Regular.eot');
	src: url('KoHo/KoHo-Regular.eot') format('embedded-opentype'), url('KoHo/KoHo-Regular.ttf') format('truetype'), url('KoHo/KoHo-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'KoHo';
	src: url('KoHo/KoHo-Italic.eot');
	src: url('KoHo/KoHo-Italic.eot') format('embedded-opentype'), url('KoHo/KoHo-Italic.ttf') format('truetype'), url('KoHo/KoHo-Italic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'KoHo';
	src: url('KoHo/KoHo-Medium.eot');
	src: url('KoHo/KoHo-Medium.eot') format('embedded-opentype'), url('KoHo/KoHo-Medium.ttf') format('truetype'), url('KoHo/KoHo-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'KoHo';
	src: url('KoHo/KoHo-MediumItalic.eot');
	src: url('KoHo/KoHo-MediumItalic.eot') format('embedded-opentype'), url('KoHo/KoHo-MediumItalic.ttf') format('truetype'), url('KoHo/KoHo-MediumItalic.svg') format('svg');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'KoHo';
	src: url('KoHo/KoHo-SemiBold.eot');
	src: url('KoHo/KoHo-SemiBold.eot') format('embedded-opentype'), url('KoHo/KoHo-SemiBold.ttf') format('truetype'), url('KoHo/KoHo-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'KoHo';
	src: url('KoHo/KoHo-SemiBoldItalic.eot');
	src: url('KoHo/KoHo-SemiBoldItalic.eot') format('embedded-opentype'), url('KoHo/KoHo-SemiBoldItalic.ttf') format('truetype'), url('KoHo/KoHo-SemiBoldItalic.svg') format('svg');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'KoHo';
	src: url('KoHo/KoHo-Bold.eot');
	src: url('KoHo/KoHo-Bold.eot') format('embedded-opentype'), url('KoHo/KoHo-Bold.ttf') format('truetype'), url('KoHo/KoHo-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'KoHo';
	src: url('KoHo/KoHo-BoldItalic.eot');
	src: url('KoHo/KoHo-BoldItalic.eot') format('embedded-opentype'), url('KoHo/KoHo-BoldItalic.ttf') format('truetype'), url('KoHo/KoHo-BoldItalic.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}