@font-face {
	font-family: 'Karla';
	src: url('karla/Karla-ExtraLight.eot');
	src: url('karla/Karla-ExtraLight.eot') format('embedded-opentype'), url('karla/Karla-ExtraLight.woff') format('woff'), url('karla/Karla-ExtraLight.ttf') format('truetype'), url('karla/Karla-ExtraLight.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Karla';
	src: url('karla/Karla-ExtraLightItalic.eot');
	src: url('karla/Karla-ExtraLightItalic.eot') format('embedded-opentype'), url('karla/Karla-ExtraLightItalic.woff') format('woff'), url('karla/Karla-ExtraLightItalic.ttf') format('truetype'), url('karla/Karla-ExtraLightItalic.svg') format('svg');
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'Karla';
	src: url('karla/Karla-Light.eot');
	src: url('karla/Karla-Light.eot') format('embedded-opentype'), url('karla/Karla-Light.woff') format('woff'), url('karla/Karla-Light.ttf') format('truetype'), url('karla/Karla-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Karla';
	src: url('karla/Karla-LightItalic.eot');
	src: url('karla/Karla-LightItalic.eot') format('embedded-opentype'), url('karla/Karla-LightItalic.woff') format('woff'), url('karla/Karla-LightItalic.ttf') format('truetype'), url('karla/Karla-LightItalic.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Karla';
	src: url('karla/Karla-Regular.eot');
	src: url('karla/Karla-Regular.eot') format('embedded-opentype'), url('karla/Karla-Regular.woff') format('woff'), url('karla/Karla-Regular.ttf') format('truetype'), url('karla/Karla-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Karla';
	src: url('karla/Karla-Italic.eot');
	src: url('karla/Karla-Italic.eot') format('embedded-opentype'), url('karla/Karla-Italic.woff') format('woff'), url('karla/Karla-Italic.ttf') format('truetype'), url('karla/Karla-Italic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Karla';
	src: url('karla/Karla-Medium.eot');
	src: url('karla/Karla-Medium.eot') format('embedded-opentype'), url('karla/Karla-Medium.woff') format('woff'), url('karla/Karla-Medium.ttf') format('truetype'), url('karla/Karla-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Karla';
	src: url('karla/Karla-MediumItalic.eot');
	src: url('karla/Karla-MediumItalic.eot') format('embedded-opentype'), url('karla/Karla-MediumItalic.woff') format('woff'), url('karla/Karla-MediumItalic.ttf') format('truetype'), url('karla/Karla-MediumItalic.svg') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Karla';
	src: url('karla/Karla-Semibold.eot');
	src: url('karla/Karla-Semibold.eot') format('embedded-opentype'), url('karla/Karla-Semibold.woff') format('woff'), url('karla/Karla-Semibold.ttf') format('truetype'), url('karla/Karla-Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Karla';
	src: url('karla/Karla-SemiboldItalic.eot');
	src: url('karla/Karla-SemiboldItalic.eot') format('embedded-opentype'), url('karla/Karla-SemiboldItalic.woff') format('woff'), url('karla/Karla-SemiboldItalic.ttf') format('truetype'), url('karla/Karla-SemiboldItalic.svg') format('svg');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Karla';
	src: url('karla/Karla-Bold.eot');
	src: url('karla/Karla-Bold.eot') format('embedded-opentype'), url('karla/Karla-Bold.woff') format('woff'), url('karla/Karla-Bold.ttf') format('truetype'), url('karla/Karla-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Karla';
	src: url('karla/Karla-BoldItalic.eot');
	src: url('karla/Karla-BoldItalic.eot') format('embedded-opentype'), url('karla/Karla-BoldItalic.woff') format('woff'), url('karla/Karla-BoldItalic.ttf') format('truetype'), url('karla/Karla-BoldItalic.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Karla';
	src: url('karla/Karla-ExtraBold.eot');
	src: url('karla/Karla-ExtraBold.eot') format('embedded-opentype'), url('karla/Karla-ExtraBold.woff') format('woff'), url('karla/Karla-ExtraBold.ttf') format('truetype'), url('karla/Karla-ExtraBold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Karla';
	src: url('karla/Karla-ExtraBoldItalic.eot');
	src: url('karla/Karla-ExtraBoldItalic.eot') format('embedded-opentype'), url('karla/Karla-ExtraBoldItalic.woff') format('woff'), url('karla/Karla-ExtraBoldItalic.ttf') format('truetype'), url('karla/Karla-ExtraBoldItalic.svg') format('svg');
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: 'Karla';
	src: url('karla/Karla-Black.eot');
	src: url('karla/Karla-Black.eot') format('embedded-opentype'), url('karla/Karla-Black.woff') format('woff'), url('karla/Karla-Black.ttf') format('truetype'), url('karla/Karla-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Karla';
	src: url('karla/Karla-BlackItalic.eot');
	src: url('karla/Karla-BlackItalic.eot') format('embedded-opentype'), url('karla/Karla-BlackItalic.woff') format('woff'), url('karla/Karla-BlackItalic.ttf') format('truetype'), url('karla/Karla-BlackItalic.svg') format('svg');
	font-weight: 900;
	font-style: italic;
}


@font-face {
	font-family: 'Ubuntu';
	src: url('ubuntu/Ubuntu-Bold.eot');
	src: url('ubuntu/Ubuntu-Bold.eot') format('embedded-opentype'), url('ubuntu/Ubuntu-Bold.woff') format('woff'), url('ubuntu/Ubuntu-Bold.ttf') format('truetype'), url('ubuntu/Ubuntu-Bold.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('ubuntu/Ubuntu-BoldItalic.eot');
	src: url('ubuntu/Ubuntu-BoldItalic.eot') format('embedded-opentype'), url('ubuntu/Ubuntu-BoldItalic.woff') format('woff'), url('ubuntu/Ubuntu-BoldItalic.ttf') format('truetype'), url('ubuntu/Ubuntu-BoldItalic.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('ubuntu/Ubuntu-Light.eot');
	src: url('ubuntu/Ubuntu-Light.eot') format('embedded-opentype'), url('ubuntu/Ubuntu-Light.woff') format('woff'), url('ubuntu/Ubuntu-Light.ttf') format('truetype'), url('ubuntu/Ubuntu-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('ubuntu/Ubuntu-LightItalic.eot');
	src: url('ubuntu/Ubuntu-LightItalic.eot') format('embedded-opentype'), url('ubuntu/Ubuntu-LightItalic.woff') format('woff'), url('ubuntu/Ubuntu-LightItalic.ttf') format('truetype'), url('ubuntu/Ubuntu-LightItalic.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('ubuntu/Ubuntu-Medium.eot');
	src: url('ubuntu/Ubuntu-Medium.eot') format('embedded-opentype'), url('ubuntu/Ubuntu-Medium.woff') format('woff'), url('ubuntu/Ubuntu-Medium.ttf') format('truetype'), url('ubuntu/Ubuntu-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('ubuntu/Ubuntu-MediumItalic.eot');
	src: url('ubuntu/Ubuntu-MediumItalic.eot') format('embedded-opentype'), url('ubuntu/Ubuntu-MediumItalic.woff') format('woff'), url('ubuntu/Ubuntu-MediumItalic.ttf') format('truetype'), url('ubuntu/Ubuntu-MediumItalic.svg') format('svg');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('ubuntu/Ubuntu-Regular.eot');
	src: url('ubuntu/Ubuntu-Regular.eot') format('embedded-opentype'), url('ubuntu/Ubuntu-Regular.woff') format('woff'), url('ubuntu/Ubuntu-Regular.ttf') format('truetype'), url('ubuntu/Ubuntu-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('ubuntu/Ubuntu-Italic.eot');
	src: url('ubuntu/Ubuntu-Italic.eot') format('embedded-opentype'), url('ubuntu/Ubuntu-Italic.woff') format('woff'), url('ubuntu/Ubuntu-Italic.ttf') format('truetype'), url('ubuntu/Ubuntu-Italic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}